@media screen and (min-width: 700px) {
  /*INDEX HTML*/
  .indexHeader {
    background: url("/img/aurora_cure_for_me_1.jpg");
    padding-top: 50px;
    filter: drop-shadow(1px 3px 30px rgba(0, 0, 0, 0.322));
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat; }
    .indexHeader .dsk-menu h1 {
      width: 200px; }
    .indexHeader span {
      color: black; }
    .indexHeader .btn {
      display: none; }
    .indexHeader .logoPhone {
      visibility: hidden; }
    .indexHeader .logo-dsk img {
      position: absolute;
      width: 180px;
      top: -20px;
      left: 0px; }
    .indexHeader .explore {
      text-align: center; }
    .indexHeader h2 {
      position: relative;
      top: 60%;
      left: 10%; }
  .aboutAurora {
    margin: 90px;
    margin-bottom: 10px; }
    .aboutAurora h2 {
      font-size: 40px; }
    .aboutAurora p {
      font-size: 115%; }
    .aboutAurora article .about::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: scaleX(0.02);
      transform-origin: left;
      transition: transform 350ms ease-in; }
    .aboutAurora article .about:hover::after {
      transform: scaleX(1); }
  .bottom-main-html {
    display: inline-block;
    position: relative; }
    .bottom-main-html .auroras-pictures img {
      width: 390px; }
  .clearfix {
    clear: both; }
  h1 {
    width: 180px;
    display: inline-block;
    position: relative;
    top: 9px;
    margin-left: 4px;
    margin-right: 4px; }
  .aboutAurora p {
    font-size: 115%; }
  .aboutAurora .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 140px;
    padding-bottom: 180px; }
    .aboutAurora .social-media img {
      height: 50px;
      width: 50px; }
  .bottom-main-html {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 50px; }
    .bottom-main-html .auroras-pictures {
      display: inline-block;
      height: 500px;
      margin-left: 30px;
      width: 55%; }
      .bottom-main-html .auroras-pictures img {
        width: 390px; }
  /*FORUM*/
  .wrapper {
    max-width: 500px;
    background: #fff;
    margin: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
    margin-top: 150px;
    width: 40%;
    float: right; }
    .wrapper p {
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 25px;
      color: #6d6a60;
      text-align: center; }
    .wrapper .title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 25px;
      color: #707fb3;
      text-transform: uppercase;
      text-align: center; }
    .wrapper .form .inputfield {
      margin-bottom: 15px;
      display: flex;
      align-items: center; }
      .wrapper .form .inputfield .input, .wrapper .form .inputfield .textarea {
        width: 100%;
        outline: none;
        border: 1px solid #d5dbd9;
        font-size: 15px;
        padding: 8px 10px;
        border-radius: 3px;
        transition: all 0.3s ease; }
      .wrapper .form .inputfield label {
        width: 200px;
        color: #757575;
        margin-right: 10px;
        font-size: 14px; }
      .wrapper .form .inputfield .textarea {
        width: 100%;
        height: 125px;
        resize: none; }
      .wrapper .form .inputfield .custom_select {
        position: relative;
        width: 100%;
        height: 37px; }
        .wrapper .form .inputfield .custom_select select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          width: 100%;
          height: 100%;
          border: 0px;
          padding: 8px 10px;
          font-size: 15px;
          border: 1px solid #d5dbd9;
          border-radius: 3px;
          color: grey; }
      .wrapper .form .inputfield .custom_select:before {
        content: "";
        position: absolute;
        top: 12px;
        right: 10px;
        border: 8px solid;
        border-color: #d5dbd9 transparent transparent transparent;
        pointer-events: none; }
      .wrapper .form .inputfield p {
        font-size: 14px;
        color: #757575; }
      .wrapper .form .inputfield .btn {
        width: 100%;
        padding: 8px 10px;
        font-size: 15px;
        border: 0px;
        background: #707fb3;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
        outline: none; }
      .wrapper .form .inputfield .button {
        width: 100%;
        padding: 8px 10px;
        font-size: 15px;
        border: 0px;
        background: #707fb3;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
        outline: none; }
      .wrapper .form .inputfield .btn:hover .button:hover {
        background: #707fb3; }
  .footerIndex {
    margin-top: 50px;
    background-color: #707fb3;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px; }
    .footerIndex ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: center; }
    .footerIndex a:link, .footerIndex a:visited {
      color: white;
      text-decoration: none; } }

@media only screen and (max-width: 480px) {
  .indexHeader {
    background: url(/img/aurora_cure_for_me_3.png);
    background-repeat: no-repeat;
    height: 700px; }
    .indexHeader h1 {
      width: 200px; }
    .indexHeader .explore .logo-dsk {
      visibility: hidden; }
    .indexHeader .explore .offcanvas-body a {
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 50px;
      font-size: 30px; }
    .indexHeader .explore .btn {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none; }
      .indexHeader .explore .btn p {
        font-size: 50px; }
    .indexHeader .dsk-menu {
      visibility: hidden; }
    .indexHeader h2 {
      visibility: hidden; }
    .indexHeader .logoPhone {
      width: 70%;
      top: 0;
      position: absolute;
      left: 20%; }
  .aboutAurora {
    padding: 3%;
    margin: 10%; }
    .aboutAurora h2 {
      font-size: 400%; }
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .social-media img {
      padding-top: 40px;
      padding-bottom: 40px;
      width: 60%; }
  .auroras-pictures {
    padding-left: 10%; }
    .auroras-pictures img {
      padding-top: 30px;
      width: 85%;
      height: auto; }
  .wrapper {
    position: relative;
    height: 550px;
    left: 30px;
    bottom: -80px;
    background: #fff;
    padding: 30px;
    margin-top: 100px;
    width: 100%;
    float: right;
    margin: 30px;
    margin-bottom: 4rem; }
    .wrapper .title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 25px;
      color: #707fb3;
      text-transform: uppercase;
      text-align: center; }
    .wrapper p {
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 25px;
      color: #6d6a60;
      text-align: center; }
    .wrapper .inputfield {
      margin-left: 10px;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      .wrapper .inputfield label {
        width: 200px;
        color: #757575;
        margin-right: 10px;
        font-size: 14px; }
      .wrapper .inputfield .input, .wrapper .inputfield .textarea {
        width: 100%;
        outline: none;
        border: 1px solid #d5dbd9;
        font-size: 15px;
        padding: 8px 10px;
        border-radius: 3px;
        transition: all 0.3s ease; }
      .wrapper .inputfield .textarea {
        width: 100%;
        height: 125px;
        resize: none; }
      .wrapper .inputfield .custom_select {
        position: relative;
        width: 100%;
        height: 37px; }
        .wrapper .inputfield .custom_select select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          width: 100%;
          height: 100%;
          border: 0px;
          padding: 8px 10px;
          font-size: 15px;
          border: 1px solid #d5dbd9;
          border-radius: 3px;
          color: black; }
    .wrapper .button {
      width: 100%;
      padding: 8px 10px;
      font-size: 15px;
      border: 0px;
      background: #707fb3;
      color: #fff;
      cursor: pointer;
      border-radius: 3px;
      outline: none; }
  footer {
    background-color: #707fb3;
    color: white;
    width: 100%;
    height: auto;
    line-height: 30px;
    position: relative;
    bottom: 0; }
    footer ul {
      display: flex;
      text-align: center;
      flex-direction: column;
      list-style-type: none; }
    footer a:link, footer a:visited {
      color: white;
      text-decoration: none; } }

@media screen and (min-width: 700px) {
  /* DOCUMENTARY - HTML*/
  .DOC P, .DOC h2, .DOC h3 {
    color: grey; }
  .DOC h2 {
    padding-left: 40px;
    padding-top: 8%;
    padding-bottom: 3%;
    font-weight: 1000;
    font-size: x-large; }
  .DOC h3 {
    padding-left: 40px;
    font-size: medium; }
  .DOC P {
    padding-top: 10%;
    padding-left: 40px;
    width: 400px; }
  .DOC {
    background: #fff;
    margin: 50px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
    width: 47%;
    display: flex; }
  #exceptionText {
    font-size: small;
    color: grey; }
  aside {
    display: flex;
    justify-content: right;
    float: right;
    position: absolute;
    left: 58%;
    margin-top: -50px; }
  .docuAside {
    width: 580px; }
  .doc-footer {
    position: fixed;
    bottom: 0%; }
  .docu img {
    order: -1; }
  a.darken {
    display: inline-block;
    background: black;
    padding: 0; }
  a.darken img {
    display: block;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  a.darken:hover img {
    opacity: 0.7; } }

@media only screen and (max-width: 480px) {
  /* DOCUMENTARY - HTML*/
  aside {
    display: none; }
  .DOC P, .DOC h2, .DOC h3 {
    color: grey;
    position: relative; }
  .DOC h2 {
    padding-top: 8%;
    padding-bottom: 3%;
    font-weight: 1000;
    font-size: x-large; }
  .DOC h3 {
    font-size: medium; }
  .DOC P {
    padding-top: 10%; }
  #exceptionText {
    font-size: small;
    color: grey; }
  .DOC {
    width: 380px;
    background: #fff;
    margin: 50px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column; } }

@media screen and (min-width: 700px) {
  /*GALLERY*/
  .pics {
    float: right; }
  .display-grid {
    display: grid;
    grid-template-columns: 10%;
    grid-template-rows: 160px 190px 250px 100px;
    grid-template-areas: "pic1" "pic1" "pic2" "pic3"; }
  .pic3 {
    grid-area: pic3;
    display: flex;
    align-content: bottom; }
  .pic1 {
    grid-area: pic1; }
  .pic2 {
    grid-area: pic2; }
  .galleryfooter {
    background-image: url(/img/horizontal-bottom.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-y: -25px;
    height: 80px; }
  #gallery {
    overflow: hidden;
    width: 100%; }
  .gallB {
    color: #ffff;
    font-size: 16px;
    line-height: 1.5;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    position: relative; }
  nav.explore {
    height: 80px; }
  .galleryE {
    background-color: black; }
  /*SLIDER*/
  #sliderG {
    overflow: hidden; }
  #sliderG figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite; }
  #sliderG figure img {
    float: left;
    width: 20%; }
  @keyframes slider {
    0% {
      left: 0; }
    20% {
      left: 0; }
    25% {
      left: -100%; }
    45% {
      left: -100%; }
    50% {
      left: -200%; }
    70% {
      left: -200%; }
    75% {
      left: -300%; }
    95% {
      left: -300%; }
    100% {
      left: -400%; } } }

@media only screen and (max-width: 480px) {
  /*GALLERY*/
  .pics {
    display: none; }
  #sliderG img {
    width: 480px; }
  nav.explore {
    height: 100px; }
  .galleryE {
    background-color: black; } }

@media screen and (min-width: 700px) {
  /*MUSIC VIDEO - HTML*/
  nav.black {
    background: black;
    height: 80px; }
  .YTsubscribe {
    position: absolute;
    top: 130px;
    left: 30px; } }

@media only screen and (max-width: 480px) {
  /*MUSIC VIDEO*/
  nav.black {
    background: black;
    height: 100px; }
  .YTsubscribe {
    position: absolute;
    top: 130px;
    left: 30px; } }

@media screen and (min-width: 700px) {
  /*SPOTIFY*/
  .musicBody {
    background: #2f1c53;
    background: linear-gradient(22deg, #2f1c53 0%, #a46dff 21%, #f6d1fd 74%);
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .musicBody .musicMain {
      background-color: #ba9cd6;
      margin: 50px;
      padding-bottom: 20px; }
      .musicBody .musicMain .music-display {
        display: inline-block;
        width: 100%; }
        .musicBody .musicMain .music-display #spotify-embed {
          display: inline-block;
          width: 69%;
          margin-left: 3rem;
          margin-top: 2rem; }
        .musicBody .musicMain .music-display #spotify-embed iframe {
          padding: 15px; }
        .musicBody .musicMain .music-display .profileSpot {
          float: right;
          width: 10%;
          margin-top: 8%;
          margin-right: 230px; } }

@media only screen and (max-width: 480px) {
  .musicBody {
    background: #2f1c53;
    background: linear-gradient(22deg, #2f1c53 0%, #a46dff 21%, #f6d1fd 74%);
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .musicBody .musicMain {
      background-color: #ba9cd6;
      margin: 30px;
      width: 80%;
      padding-bottom: 20px; }
      .musicBody .musicMain .music-display {
        display: inline-block;
        width: 100%; }
        .musicBody .musicMain .music-display #spotify-embed {
          display: inline-block;
          margin-left: 2rem;
          margin-top: 2rem; }
        .musicBody .musicMain .music-display #spotify-embed iframe {
          padding: 15px; }
        .musicBody .musicMain .music-display .profileSpot {
          padding-left: 4rem; }
    .musicBody footer {
      background-color: #707fb3;
      color: white;
      width: 100%;
      height: auto;
      line-height: 30px;
      position: aboslute;
      bottom: 0; }
  /*NOSE POR QUE NO APLICA*/
  .blackBott {
    background-color: black; } }

@media screen and (min-width: 700px) {
  /*TOUR - HTML*/
  /*TOUR - HTML*/
  .TourBck {
    background-image: url("../img/tour.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffff;
    font-size: 16px;
    line-height: 1.5;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    position: relative; }
  .worldTour {
    font-size: 300%;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15%;
    margin-top: 1%;
    color: #86c0e2; }
  .tag-canceled {
    font-size: 120%;
    padding: 7px; }
  .primary-detail {
    color: black;
    font-weight: bold;
    font-family: 150%; }
  .date {
    font-size: 150%;
    color: blueviolet;
    font-weight: 30mm; }
  .secondary-detail {
    color: black; }
  .tourbott {
    position: fixed;
    bottom: 0%; }
  .tag-canceled {
    background-color: red;
    color: white; }
  #tourdates {
    display: flex;
    flex-flow: column wrap;
    column-gap: 10px;
    font-size: 14px;
    height: 600px;
    padding-top: 30px;
    padding-left: 5%;
    width: 300px; }
  ul {
    list-style-type: none; }
  .event-details {
    background-color: white;
    width: 200px;
    padding: 5%; } }

@media only screen and (max-width: 480px) {
  .TourBck {
    background-color: #707fb3;
    color: #ffff;
    font-size: 16px;
    line-height: 1.5;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    position: relative; }
  .worldTour {
    font-size: 300%;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15%;
    margin-top: 5%;
    color: #86c0e2; }
  .tag-canceled {
    font-size: 120%;
    padding: 7px; }
  .primary-detail {
    color: black;
    font-weight: bold;
    font-family: 150%; }
  .date {
    font-size: 150%;
    color: blueviolet;
    font-weight: 30mm; }
  .secondary-detail {
    color: black; }
  .tourbott {
    position: fixed;
    bottom: 0%; }
  .tag-canceled {
    background-color: red;
    color: white; }
  #tourdates {
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    column-gap: 10px;
    font-size: 14px;
    height: 900px;
    padding-top: 30px;
    padding-left: 5%;
    width: 300px; }
  ul {
    list-style-type: none; }
  .event-details {
    background-color: white;
    width: 200px;
    padding: 5%; } }

/*footer de MVideo - tiene un espacio abajo que no puedo sacar
en phone music el footer nose por que no aplica
nav - en todos los htmls cambia de poscicion. intente usar las mismas clases pero no pareceria funcionar. el index.html es el unico que quiero con otra posicion.*/
* {
  color: white;
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  font-family: 'Montserrat', sans-serif; }
  * a:visited, * a:link {
    color: white;
    text-decoration: none; }

html {
  overflow-x: hidden; }

body {
  background-color: #686599c5; }

/*PHONE*/
@media only screen and (max-width: 480px) {
  Header h1 {
    width: 200px; }
  Header .explore .logo-dsk {
    visibility: hidden; }
  Header .explore .offcanvas-body a {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    font-size: 30px; }
  Header .explore .btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none; }
    Header .explore .btn p {
      font-size: 50px; }
  Header .dsk-menu {
    visibility: hidden; }
  Header h2 {
    visibility: hidden; }
  Header .logoPhone {
    width: 70%;
    top: 0;
    position: absolute;
    left: 20%; } }

/*LAPTOP*/
@media screen and (min-width: 700px) {
  .sideHtmls {
    padding: 10px; }
  .logo-dsk {
    width: 180px; }
  a:link, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none; }
  h1 {
    width: 180px; }
  span {
    color: black; }
  .btn {
    display: none; }
  .logoPhone {
    visibility: hidden; }
  .logo-dsk img {
    position: absolute;
    width: 180px;
    top: -20px;
    left: 0px; }
  .explore {
    text-align: center; }
  .dont-need {
    position: relative;
    top: 60%;
    left: 10%; }
  footer {
    background-color: #707fb3;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px; }
    footer ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: center; }
    footer a:link, footer a:visited {
      color: white;
      text-decoration: none; }
  .blackBott {
    background: black;
    width: 100%;
    position: relative;
    bottom: 0;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    z-index: 9; }
  .fixedBott {
    position: fixed; }
  .videoBott {
    top: -4px; }
  nav.black {
    background: black;
    height: 80px; } }
