
/*GENERAL*/


body{
   background-color: #7c6096c5;
}
*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    overflow-x: hidden;
}
*::before, *::after{
    box-sizing: border-box;
}


/*HEADER*/
.HeaderHome{
    background-image:url(../img/header.jpg);
   height: 100vh;
}

h1 {
    width: 200px;
    display: inline-block;
    position: relative;
    top: 9px;
    margin-left: 4px;
    margin-right: 4px;
}
#logo img{
    position: absolute;
    width: 200px;
    top: -20px;
    left: 0px;
}
nav.explore {
    
    height: 90px;
    text-align: center;
    clear: both;
    position: relative;
    top: 0px;
    padding: 6px;
    width: 100%;
}
.h2main{
    font-weight: lighter;
    position: relative;
    width: 25;
    top: 50%;
    left: 10%;
    font-size: 2.5em;
}

a:link, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

/*MainHtml*/
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 140px; 
    padding-bottom: 180px;
}
 .social-media img{
   height:60px;
    width:60px;
}
.Auroras-pictures{
    height:500px;
    margin-left: 30px;
    width: 54%;
    display: inline-block;
}
.bottom-main-html{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
#getToKnow article div h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(.01);
    transform-origin: left;
    transition: transform 350ms ease-in;

}
#getToKnow article div h2:hover::after{
    transform: scaleX(1);
} 

#getToKnow{
    margin: 90px;
    margin-bottom: 10px;
}

.clearfix{
    clear:both;
}
.footerMain{
    background: #da9e66ea;
    color: white;
    text-align: center;
    height:50px;
    line-height: 50px;
    position: absolute;
    z-index: 9;
    width: 100%;
}




/*FORUM*/
.wrapper{
  max-width: 500px;
  background: #fff;
  margin: 30px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
  margin-top: 150px;
  width: 40%;
  float: right;
}
.wrapper p{
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #6d6a60;
    text-align: center;
}
.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}
.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.wrapper .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}
.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}
.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}
.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}
.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
  color: grey;
}
.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}

.wrapper .form .inputfield .btn {
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}
.wrapper .form .inputfield .button{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
.wrapper .form .inputfield .btn:hover .button:hover{
  background: #ffd658;
}

.bottom-main-html{    
  display: inline-block;
  position: relative;

}




/*SPOTIFY*/
.musicBody{
    background: rgb(47,28,83);
    background: linear-gradient(22deg, rgba(47,28,83,1) 0%, rgba(164,109,255,1) 21%, rgba(246,209,253,1) 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.music-display{
    display: inline-block;
    width: 100%;
}
.musicMain{
    background-color: #ba9cd6;
    margin: 60px;
    padding-bottom: 20px;
}
#spotify-embed{
    display: inline-block;
    width: 69%;
    margin-left: 3rem;
    margin-top: 2rem;
}
#spotify-embed iframe{
    padding: 15px;
}
.profileSpot{
    float: right;
    width: 10%;
    margin-top: 8%;
    margin-right: 230px;
}
.musicBott{
    background: black;
    width: 100%;
    position: fixed;
    bottom: 0%;
    color: white;
    text-align: center;
    height:40px;
    line-height: 40px;
    position: absolute;
    z-index: 9;
    
}

footer{
    background: black;
    width: 100%;
    position: fixed;
    color: white;
    text-align: center;
    height:40px;
    line-height: 40px;
    position: absolute;
    z-index: 9;
}




/*MUSIC VIDEO - HTML*/
nav.black{
    background: black;

}
.PSetUNDER{
    font-size: 0;
    position: absolute;
    top: 940px;

}
.YTsubscribe{
    position: absolute;
    top:93px;
    left: 10px;
}




/*TOUR - HTML*/
.TourBck {
    background-image:url("../img/tour.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffff;
    font-size: 16px;
    line-height: 1.5;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    position: relative;
    
}
.worldTour{
    font-size: 300%;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15%;
    margin-top: 1%;
    color: #86c0e2;
}
.tag-canceled, .primary-detail{
    font-weight: bold;
    color: black;
}
.date{
    font-size: 150%;
    color: blueviolet;
    font-weight: 30mm;
}
.secondary-detail{
    color: black;
}
.tourbott{
    position: fixed;
    bottom: 0%;
}
.tag-canceled{
    background-color: red;
    color: white;
}
#tourdates{
    display: flex;
    flex-flow: column wrap;
    column-gap: 10px;
    font-size: 14px;
    height: 600px;
    padding-top: 30px;
    padding-left: 5%;
    width: 300px;
}
ul{
    list-style-type: none;
}
.event-details{
    background-color: white;
    width: 200px;
    padding: 5%;
}


/*GALLERY*/
.pics{
    float: right;
}
.display-grid{
    display: grid;
    grid-template-columns:30%;
    grid-template-rows: 220px 177px 280px 100px;
    grid-template-areas: "pic1"
                         "pic1"
                         "pic2"
                         "pic3"
                         
}
.pic3{
    grid-area: pic3;
    display: flex;
    align-content: bottom;
}
.pic1  {
    grid-area: pic1;
}
.pic2{
    grid-area: pic2;
}

.galleryfooter{
    background-image: url(/img/horizontal-bottom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -25px;
    height: 100px;

}

#gallery  {
    overflow: hidden;
    width: 100%;
}



/*SLIDER*/
#sliderG {
	overflow: hidden;
}
#sliderG figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 30s slider infinite;
}
#sliderG figure img {
	float: left;
	width: 20%;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}




/* DOCUMENTARY - HTML*/
.DOC P, .DOC h2, .DOC h3 {
    color: grey;

}
.DOC h2{
    padding-left: 80px;
    padding-top: 10%;
    padding-bottom: 5%;
    font-weight: 1000;
    font-size: xx-large;

}
.DOC h3{
    padding-left: 40px;
    font-size: medium;
}
.DOC P{
    padding-top: 10%;
    padding-left: 40px;
    width: 400px;
}
.DOC{
    background: #fff;
    margin: 50px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
    width: 48%;
    display: flex;
}
#exceptionText{
    font-size: small;
    color: grey;
}
aside{
    display: flex;
    justify-content: right;
    float: right;
    position: absolute;
    left: 58%;
    margin-top: -50px;
}
aside img{
    width: 650px;
}
.doc-footer{
    position: fixed;
    bottom: 0%;
}
.docu img{
    order: -1
}
a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

a.darken img {
    display: block;
    
     -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
             transition: all 0.5s linear;
            
}

a.darken:hover img {
    opacity: 0.7;
            
}





