@media screen and (min-width: 700px) {
/*GALLERY*/
.pics{
    float: right;
}
.display-grid{
    display: grid;
    grid-template-columns:10%;
    grid-template-rows: 160px 190px 250px 100px;
    grid-template-areas: "pic1"
                         "pic1"
                         "pic2"; 
						 
	
	.pic1  {
		grid-area: pic1;
	}
	.pic2{
		grid-area: pic2;
	}

}
nav.explore{
    height: 100px;
}
.galleryE{
    background-color: black;

}

/*SLIDER*/
#sliderG {
	overflow: hidden;
		figure {
		position: relative;
		width: 500%;
		margin: 0;
		left: 0;
		animation: 30s slider infinite;
			img {
			float: left;
			width: 20%;
			}
		}
	}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
.gallery-footer{
	background-image: url(./img/gallery/horizontal-bottom.jpg);
	
}
}

@media only screen and (max-width: 480px) {
/*GALLERY*/
.pics{
	display: none;
}
#sliderG{
	img{
		width: 480px;	
	}
}
nav.explore{
    height: 100px;
}
.galleryE{
    background-color: black;

}

}