@media screen and (min-width: 700px) {
    /*MUSIC VIDEO - HTML*/
    nav.black{
        background: $b;
        height: 80px;

    }
    .YTsubscribe{
        position: absolute;
        top: 130px;
        left: 30px;
    }
    .videoBott{
        height: 200px;
     }
     #iframeId{
         height: 810px;
     }

}

@media only screen and (max-width: 480px) {
    /*MUSIC VIDEO*/
    nav.black{
        background: $b;
        height: 100px;

    }
    .YTsubscribe{
        position: absolute;
        top: 120px;
        left: 30px;
    }
    #iframeId{
        height: 530px;
    }
    .videoBott{
        position: absolute;
        bottom: 0;
        background-color: $b;
    }
}