@media screen and (min-width: 700px) {
    /*MUSIC VIDEO - HTML*/
    nav.black{
        background: black;
        height: 80px;

    }
    .YTsubscribe{
        position: absolute;
        top: 130px;
        left: 30px;
    }
}