@media screen and (min-width: 700px) {
    /*MUSIC VIDEO - HTML*/
    nav.black{
        background: black;
        height: 80px;

    }
    .YTsubscribe{
        position: absolute;
        top: 130px;
        left: 30px;
    }
    .videoBott{
        height: 200px;
     }
}

@media only screen and (max-width: 480px) {
    /*MUSIC VIDEO*/
    nav.black{
        background: black;
        height: 100px;

    }
    .YTsubscribe{
        position: absolute;
        top: 130px;
        left: 30px;
    }
}