@media screen and (min-width: 700px) {
/*TOUR - HTML*/
.TourBck {
    background-image:url("../img/tour.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffff;
    font-size: 16px;
    line-height: 1.5;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    position: relative;
        .worldTour{
        font-size: 300%;
        width: auto;
        font-family: 'Montserrat', sans-serif;
        margin-left: 15%;
        margin-top: 1%;
        color: #86c0e2;
        }
}
#tourdates{
    display: flex;
    flex-flow: column wrap;
    column-gap: 10px;
    font-size: 14px;
    height: 600px;
    padding-top: 30px;
    padding-left: 5%;
    width: 300px;
        .event-details{
        background-color: white;
        width: 200px;
        padding: 5%;
        .primary-detail{
            color: black;
            font-weight: bold;
            font-family: 150%;
        }
        .secondary-detail{
            color: black;
        }
        .tag-canceled{
            font-size: 120%;
            padding: 7px;
        }
        .date{
            font-size: 150%;
            color: blueviolet;
            font-weight: 30mm;
        }
        .tag-canceled{
            background-color: red;
            color: white;
        }
    }
}


ul{
    list-style-type: none;
}

}

@media only screen and (max-width: 480px) {
    .TourBck {
        background-color: rgb(141, 195, 212);
        color: #ffff;
        font-size: 16px;
        line-height: 1.5;
        font-family: "helvetica neue",helvetica,arial,sans-serif;
        position: relative;
        .worldTour{
            font-size: 3rem;
            width: 100%;
            font-weight: 900;
            margin-left: 8%;
            margin-top: 5%;
            color: rgb(255, 255, 255);
        }
    }
    
   
    .tourbott{
        position: fixed;
        bottom: 0%;
    }
    #tourdates{
        display: flex;
        flex-flow: column wrap;
        align-items: left;
        column-gap: 10px;
        font-size: 14px;
        height: 900px;
        padding-top: 30px;
        padding-left: 5%;
        width: 300px;
        .event-details{
            background-color: white;
            width: 200px;
            padding: 5%;
            .tag-canceled{
                background-color: red;
                color: white;
            }
            .tag-canceled{
                font-size: 120%;
                padding: 7px;
            }
            .primary-detail{
                color: black;
                font-weight: bold;
                font-family: 150%;
            }
            .date{
                font-size: 150%;
                color: blueviolet;
                font-weight: 30mm;
            }
            .secondary-detail{
                color: black;
            }
        }
    

    }
    ul{
        list-style-type: none;
    }
    
}