$colorMainIndex: #707fb3;
@import "index";
@import "_documentary.scss";
@import "_gallery.scss";
@import "_MVideo.scss";
@import "_music.scss";
@import "_tour.scss";


/*
 -- do tablet screen and horizontal phone - 480 horizontal -- vertical 320
 768 - 1023 tablet
 1200 pc
footer de MVideo - tiene un espacio abajo que no puedo sacar
en phone music el footer nose por que no aplica
nav - en todos los htmls cambia de poscicion. intente usar las mismas clases pero no pareceria funcionar. el index.html es el unico que quiero con otra posicion.*/



*{
    color: white;
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Montserrat', sans-serif;
        a:visited, a:link{
            color: white;
            text-decoration: none;
        }
}
html{
    overflow-x: hidden;
}
body{
    background-color: #686599c5;
}

/*PHONE*/
@media only screen and (max-width: 480px){
    Header{
        h1{
            width: 200px;
        }
        .explore{
            .logo-dsk{
            visibility: hidden;
            }
            
            .offcanvas-body a{
                color: black;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 50px;
                font-size: 30px;
            }
            .btn{
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                p{
                font-size: 50px; 
                }
                
            }
        }
        .dsk-menu{
            visibility: hidden;
        }
        h2{
            visibility: hidden;
        }
        .logoPhone{
            width: 70%;
            top: 0;
            position: absolute;
            left: 20%;
        }
    }
}

/*LAPTOP*/
@media screen and (min-width: 700px){
    .sideHtmls{
        padding: 10px;
    }
    .logo-dsk{
                width: 180px;
    }
                
    a:link, a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
    h1{
        width: 180px;
    }
    span{
        color: black;
    }
      .btn{
            display: none;
        }
        .logoPhone{
            visibility: hidden;
        }
        .logo-dsk img{
            position: absolute;
            width: 180px;
            top: -20px;
            left: 0px;
        }
        .explore{
           text-align: center;
        }
        .dont-need{
            position: relative;
            top: 60%;
            left: 10%;         
        } 

        footer{
            background-color: $colorMainIndex;
            color: white;
            position: relative;
            bottom: 0;
            width: 100%;
            height: 50px;
            line-height: 50px;
    
                ul{
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    justify-content: center;
                    
                }
                a:link, a:visited{
                    color: white;
                    text-decoration: none;
                }
    
        }

        .blackBott{
            background: black;
            width: 100%;
            position: relative;
            bottom: 0;
            color: white;
            text-align: center;
            height:40px;
            line-height: 40px;
            z-index: 9;
            
        }
        .fixedBott{
            position: fixed;
        }
        .videoBott{
            top: -4px;
        }
        nav.black{
            background: black;
            height: 80px;
    
        }

}
